
 nav {
 	position: fixed;
 	top:0;
 	z-index: 5;

 }

.carousel {
	height:250px;
	position: sticky;
	top:-70px;
	text-align: center;
}

.para {
	clear:both;
	position: relative;
	width:100%;
	margin:0px;
	top:260px;
	z-index: -1;
}
 
#mapid {
	position: fixed;
	top:320px;
	bottom:0;
	right:0;
	width:50%;
	height: 300px;

}
#image {
	width:100%;
	position: fixed;

}
#mainImage {
	width:100%;
	height:280px;

}



